.home-header {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  max-width: 70%;
}

.header-text h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
  color: rgb(233, 233, 233);
}

.header-text p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #9e9e9e;
}

.header-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
  height: auto;
}

.header-image img {
  max-width: 85%;
  height: auto;
}

.search-box-outer {
  width: 100%;
}

.search-bar-lower {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8a8a8a11;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.search-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-item i {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
}

.search-item:nth-child(1) {
  width: 60%;
}


.icon {
  font-size: 24px;
}

.label {
  font-size: 0.8rem;
  color: #ffffff;
  margin: 0;
}

.value {
  font-size: 1rem;
  font-weight: 400;
  color: #9a9a9a;
  cursor: pointer;
  margin: 0;
}

.divider {
  height: 32px;
  width: 1px;
  background-color: #adadad;
  margin: 0 16px;
}
