.navbar {
  background-color: #121010;
  padding: 0.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.navbar-logo img {
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  filter: brightness(0) invert(0.9);
}

.navbarMenu {
  display: flex;
  gap: 0.5rem;
}

.navbarMenu div {
  font-weight: 500;
  font-size: 0.9rem;
  color: #dadada;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 50px;
  transition: color 0.3s, border-color 0.3s;
  letter-spacing: 1px;
  position: relative;
}

.navbarMenu div::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s;
}

.navbarMenu div:hover {
  color: #ffffff;
}

.navbarMenu div:hover::after {
  width: 100%;
}

.navbarMenu div:active {
  transform: scale(0.98);
}

.navbarMenu div.active {
  border-bottom: 2px solid #000;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #c6c6c6;
  border-radius: 50px;
  padding: 0.2rem 1rem;
  width: 12rem;
  transition: all 0.3s;
}

.search-bar i {
  color: #c6c6c6;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 7px 15px;
  font-size: 16px;
  background-color: #121010;
  border-radius: 50px;
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.search-bar input:focus {
  width: 220px;
  border-color: #000;
}

.search-bar input::placeholder {
  color: #aaa;
}

.search-bar:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input:focus {
  color: #333;
}
