.cards-container-offer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-offer {
  width: 26%;
  background-color: #8a8a8a11;
  padding: 1.5rem 2.3rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.card-offer:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-offer  h4{
  font-size: 1.2rem;
  color: rgb(233, 233, 233);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-offer i {
  color: rgb(233, 233, 233);
  font-size: 2rem;
}

.card-offer p {
  font-size: 1rem;
  color: rgb(167, 167, 167);
  line-height: 1.5;
  margin-bottom: 2rem;
}

.card-offer span {
  color: rgb(233, 233, 233);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
